html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: rgb(48, 46, 46);
  background-image: url(./assets/images/library.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#leadEl {
  margin-bottom: 10px;
}

#searchB {
  margin-bottom: 10px;
}

.footer {
  position: sticky;
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: white;
}
